{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

    <section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>TCLOUD INFORMATION TECHNOLOGIES</h2>
			</div>
			<div class="left wow fadeInDown">
				<p class="lead">
					<ul>
						<li>
							<b>TCLOUD IT</b> was established in 2010 with core objectives of Trainings, Tool Development, Project Execution, Consulting & HR Outsourcing in Telecom & Datacom Areas.
						</li>
						<li>
							<b>TCLOUD IT</b> is the Only Training Organization in India with LTE/IMS Lab Facility.
						</li>
						<li>
							<b>TCLOUD IT</b> is one the Top Most Training centers for Telecom/Datacom/Automation Trainings in the world.
						</li>
						<li>
							<b>TCLOUD IT</b> has provided Corporate Training to more than 45 MNCs in Telecom, Datacom and Scripting/Automation Specializations
						</li>
						<li>
							<b>TCLOUD IT</b> has Trained more than 5000 Candidates worldwide in various Technical streams
						</li>
						<li>
							<b>TCLOUD IT</b> trained candidates are present in every Telecom & Datacom R&D company in INDIA
						</li>
						<li>
							<b>TCLOUD IT</b> have successfully developed various LTE/IMS Testing Tools
						</li>

						<li>
							<b>TCLOUD IT</b> is home for highly experienced Trainers in all the areas. Average experience of our training team is 13 years.
						</li>
					</ul>
				</p>
			</div>

			<!-- about us slider -->
			<div id="about-slider">
				<div id="carousel-slider" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
				  	<ol class="carousel-indicators visible-xs">
					    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-slider" data-slide-to="1"></li>
					    <li data-target="#carousel-slider" data-slide-to="2"></li>
				  	</ol>

					<div class="carousel-inner">
						<div class="item active">
							<img src="{% static 'images/slider_one.jpg' %}" class="img-responsive" alt="">
					   </div>
					   <div class="item">
							<img src="{% static 'images/slider_one.jpg' %}" class="img-responsive" alt="">
					   </div>
					   <div class="item">
							<img src="{% static 'images/slider_one.jpg' %}" class="img-responsive" alt="">
					   </div>
					</div>

					<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>

					<a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div> <!--/#carousel-slider-->
			</div><!--/#about-slider-->


			<!-- Our Skill -->
		<!--	<div class="skill-wrap clearfix">

				<div class="center wow fadeInDown">
					<h2>Our Skill</h2>
					<p class="lead">These Are the areas in which are  having the expertise</p>
				</div>

				<div class="row">

					<div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="joomla-skill">
								<p><em>100%</em></p>
								<p>LTE</p>
							</div>
						</div>
					</div>

					 <div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="html-skill">
								<p><em>100%</em></p>
								<p>IMS</p>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
							<div class="css-skill">
								<p><em>100%</em></p>
								<p>SIP</p>
							</div>
						</div>
					</div>

					 <div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
							<div class="wp-skill">
								<p><em>100%</em></p>
								<p>L2 L3</p>
							</div>
						</div>
					</div>

				</div>

				<div class="row">

					<div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="html-skill">
								<p><em>100%</em></p>
								<p>TTCN3</p>
							</div>
						</div>
					</div>

					 <div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="css-skill">
								<p><em>100%</em></p>
								<p>PYTHON</p>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
							<div class="wp-skill">
								<p><em>100%</em></p>
								<p>DJANGO</p>
							</div>
						</div>
					</div>

					 <div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
							<div class="joomla-skill">
								<p><em>100%</em></p>
								<p>DevOPs</p>
							</div>
						</div>
					</div>

				</div>

            </div>  -->


			<!-- our-team -->
			<div class="team">
				<div class="center wow fadeInDown">
					<h2>Team of TCLOUD IT</h2>
					<p class="lead">Hear is our Team </p>
				</div>

				<div class="row clearfix">
					<div class="col-md-4 col-sm-6">
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="images/man1.jpg" alt=""></a>
								</div>
								<div class="media-body">
									<h4>Benarji M</h4>
									<h5>Founder and CEO</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">LTE</a></li>
										<li class="btn"><a href="#">IMS</a></li>
										<li class="btn"><a href="#">SIP</a></li>
										<li class="btn"><a href="#">Routing</a></li>
										<li class="btn"><a href="#">Switching</a></li>
										<li class="btn"><a href="#">TTCN3</a></li>
										<li class="btn"><a href="#">Python</a></li>
										<li class="btn"><a href="#">IOT</a></li>
										<li class="btn"><a href="#">Cloud Computing</a></li>
										<li class="btn"><a href="#">OpenStack</a></li>
									</ul>

									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p>
								<ul>
									<li>14 years of Experience in Telecom/Datacom</li>
									<li>Expert in 3GPP/IEEE/IETF Specifications</li>
									<li>Product Architect for TCLOUD's Test Tools</li>
									<li>Conducted 25+ Corporate Trainings</li>
								</ul>
							</p>
						</div>
					</div><!--/.col-lg-4 -->


					<div class="col-md-4 col-sm-6 col-md-offset-2">
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="images/man2.jpg" alt=""></a>
								</div>
								<div class="media-body">
									<h4>Santhosh</h4>
									<h5>Director</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">Linux</a></li>
										<li class="btn"><a href="#">Python</a></li>
										<li class="btn"><a href="#">Django</a></li>
										<li class="btn"><a href="#">Perl</a></li>
										<li class="btn"><a href="#">Automation</a></li>
										<li class="btn"><a href="#">BootStrap</a></li>
										<li class="btn"><a href="#">HTML</a></li>
										<li class="btn"><a href="#">OpenStack</a></li>
									</ul>

									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p>
								<ul>
									<li>14 years of Experience in Linux and Automation</li>
									<li>Expert in Python, Django & Perl Automation</li>
									<li>Development Expertise on Bootstrap Websites</li>
									<li>Conducted 20+ Corporate Trainings</li>

								</ul>
							</p>

						</div>
					</div><!--/.col-lg-4 -->

				</div> <!--/.row -->
				<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border-->

				<div class="row clearfix">
					<div class="col-md-4 col-sm-6 col-md-offset-2">
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="images/man3.jpg" alt=""></a>
								</div>

								<div class="media-body">
									<h4>Samba</h4>
									<h5>Automation Trainer</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">Linux</a></li>
										<li class="btn"><a href="#">Python</a></li>
										<li class="btn"><a href="#">DJango</a></li>
										<li class="btn"><a href="#">Perl</a></li>
										<li class="btn"><a href="#">Automation</a></li>
									</ul>

									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p>
								<ul>
									<li>10 years of Experience in Linux and Automation</li>
									<li>Expert Python, Django & Perl Automation</li>
									<li>Conducted 10+ Corporate Trainings</li>
								</ul>
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-md-offset-2">
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="images/man4.jpg" alt=""></a>
								</div>
								<div class="media-body">
									<h4>Ajay</h4>
									<h5>DevOps Trainer</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">Ansibel</a></li>
										<li class="btn"><a href="#">Nagios</a></li>
										<li class="btn"><a href="#">Chef</a></li>
										<li class="btn"><a href="#">Puppet</a></li>
                    <li class="btn"><a href="#">Git</a></li>
                    <li class="btn"><a href="#">Dockers</a></li>
                    <li class="btn"><a href="#">Jenkins</a></li>
									</ul>

									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p>
								<ul>
									<li>14 years of Experience in Telecom/Datacom</li>
									<li>Expert in 3GPP/IEEE/IETF Specifications</li>
									<li>Product Architect for TCLOUD's Test Tools</li>
									<li>Conducted 25+ Corporate Trainings</li>
								</ul>
							</p>
						</div>
					</div>
				</div>	<!--/.row-->
			</div><!--section-->
		</div><!--/.container-->
    </section><!--/about-us-->

{% endblock %}
