    <section id="bottom">
        
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Popular Courses</h3>
                        <ul>
                            <li><a href="{% url 'ltepd'%}">LTE Protocol Development</a></li>
                            <li><a href="{% url 'ltept'%}">LTE Protocol Testing</a></li>
                            <li><a href="{% url 'voippd'%}">VOIP SIP IMS Protocol Development</a></li>          
                            <li><a href="{% url 'voippt'%}">VOIP SIP IMS Protocol Testing</a></li>
                            <li><a href="{% url 'l2l3dev'%}">L2 L3 Protocol Development</a></li>
                            <li><a href="{% url 'l2l3test'%}">L2 L3 Protocol Testing</a></li>                      
                            <li><a href="{% url 'python'%}">Pyhton</a></li>
                            <li><a href="{% url 'django'%}">Django</a></li>
                            <li><a href="{% url 'devops'%}">DevOps</a></li>
                            <li><a href="{% url 'cloud'%}">Cloud Computing</a></li>
                            <li><a href="{% url 'embeded'%}">Internet Of Things</a></li>

                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Corporate Training</a></li>
                            <li><a href="#">Consulting</a></li>
                            <li><a href="#">Outsourcing</a></li>
                            <li><a href="#">Protocol Testing Services</a></li>
                            <li><a href="#">Protocol Development Services</a></li>
                            <li><a href="#">Automation Services</a></li>
                            <li><a href="#">Web Development Services</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Products</h3>
                        <ul>
                            <li><a href="#">LTE Functional Tester</a></li>
                            <li><a href="#">LTE Load Tester</a></li>
                            <li><a href="#">LTE HSS Emulator</a></li>
                            <li><a href="#">ASN.1 CoDecs</a></li>
                            <li><a href="#">Django Web Templates</a></li>
                            
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">LTE Protocol Development Jobs</a></li>
                            <li><a href="#">LTE Protocol Testing Jobs</a></li>
                            <li><a href="#">VOIP SIP IMS Protocol Development Jobs</a></li>
                            <li><a href="#">VOIP SIP IMS Protocol Testing Jobs</a></li>
                            <li><a href="#">L2 L3 Protocol Development Jobs</a></li>
                            <li><a href="#">L2 L3 Protocol Testing Jobs</a></li>
                            <li><a href="#">Python Jobs</a></li>
                            <li><a href="#">Django Jobs</a></li>
                            <li><a href="#">DevOps Jobs</a></li>
                            <li><a href="#">Cloud Computing Jobs</a></li>
                            <li><a href="#">Internet of Things Jobs</a></li>
                        </ul>

                    </div>    
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->
