{% load staticfiles %}
    <section id="middle">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 wow fadeInDown">
                    <div class="skill">
                        <h2>Our Skills</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->

                        <div class="progress-wrap">
                            <h3>Telecom</h3>
                            <div class="progress">
                              <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="bar-width">100%</span>
                              </div>

                            </div>
                        </div>

                        <div class="progress-wrap">
                            <h3>Datacom</h3>
                            <div class="progress">
                              <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                               <span class="bar-width">100%</span>
                              </div>
                            </div>
                        </div>

                        <div class="progress-wrap">
                            <h3>Scripting</h3>
                            <div class="progress">
                              <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="bar-width">100%</span>
                              </div>
                            </div>
                        </div>

                        <div class="progress-wrap">
                            <h3>Cloud</h3>
                            <div class="progress">
                              <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="bar-width">100%</span>
                              </div>
                            </div>
                        </div>
                </div>

                </div><!--/.col-sm-6-->

                <div class="col-sm-6 wow fadeInDown">
                    <div class="accordion">
                        <h2>Why People like us?</h2>
                        <div class="panel-group" id="accordion1">
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                  World Class Training
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">
                                  <div class="media accordion-inner">
                                        <div class="pull-left">
                                            <img class="img-responsive" src="{% static 'images/accordion1.png' %}">
                                        </div>
                                        <div class="media-body">
                                             <h4>Best In Business</h4>
                                             <p>We Offer the Highest Quality Training on all our Verticals. No compromise on delivering the Latest Technological advancements even before their implementation @ Telecom/Datacom/Automation R&D Projects </p>
                                        </div>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  State Of The ART LAB 
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                                We Have the State Of The ART LAB which would be on par with Telecom & Datacom R&D Companies Labs. 
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  Expert Trainers
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Our Trainers are very well experienced and had already delivered the same trainings recurrently @Corporaate clients & @Public Training Batches. The Quality of Training improved with each Iteration and becomes flawless. 
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                  Corporate Connect
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
                                We Maintain a strong HR connect with many Telecom/Datacom R&D Companies which will enable us to help the trainee candidates gets a perfect launching platform after the training. 
                              </div>
                            </div>
                          </div>
                        </div><!--/#accordion1-->
                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#middle-->

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 wow fadeInDown">
                   <div class="tab-wrap"> 
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">What We Do?</a></li>
                                    <li class=""><a href="#tab2" data-toggle="tab" class="analistic-02">Our Philosophy</a></li>
                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">How Are We Different?</a></li>
                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Industry Gossip</a></li>
                                    <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">An Interesting Fact</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="tab1">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="{% static 'images/tab2.png' %}">
                                            </div>
                                            <div class="media-body">
                                                 <h2>Our Work!!</h2>
                                                 <p>Train the Candidates who are aspiring to Join Telecom/Datacom R&D Companies as Development or Testing or Automation Engineers. </p>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane fade active in" id="tab2">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="{% static 'images/tab1.png' %}">
                                            </div>
                                            <div class="media-body">
                                                 <h2>Bottom Line!!</h2>
                                                 <p>
                                                  Building a Knowledge Cloud for Telecom World.
                                                 </p>
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade" id="tab3">
                                        <p>
                                          We keep Re-aligning all our Training programs with Present and Future Industry Needs. For Example we have started 5G migration training for our LTE trainees even before Industry started this.
                                        </p>
                                     </div>
                                     
                                     <div class="tab-pane fade" id="tab4">
                                        <p>A Lot of our Trainees who gets placed into various companies informs us back that they have been promoted to Technical Interview Panels with-in very short span of time ,  all thanks to their immense technical know-how built @TCLOUD </p>
                                     </div>
                                     <div class="tab-pane fade" id="tab5">
                                        <p>
                                          According to various Job survey websites like "Glassdoor", Telecom R&D Jobs are the highest paying Software Jobs in India/Abroad as well!!
                                        </p>
                                     </div>
                                </div> <!--/.tab-content-->  
                            </div> <!--/.media-body--> 
                        </div> <!--/.media-->     
                    </div><!--/.tab-wrap-->               
                </div><!--/.col-sm-6-->

                <div class="col-xs-12 col-sm-4 wow fadeInDown">
                    <div class="testimonial">
                        <h2>Testimonials</h2>
                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="{% static 'images/testimonials1.png' %}">
                            </div>
                            <div class="media-body">
                                <p>One of The Best Technical Trainings attended in my Life </p>
                                <span><strong>-Shiv Shankar</strong> Product Manager @ Primesoft</span>
                            </div>
                         </div>

                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="{% static 'images/testimonials1.png' %}">
                            </div>
                            <div class="media-body">
                                <p>
                                  I have stream-lined all my career learnings with the actual technology with this single training. This is like a Re-Introduction of sorts to Telecom Technology after working in it for 15 years! Amazing Experience TCLOUD!
                                </p>
                                <span><strong>-Rupa das</strong> Telecom Architect @ Wipro</span>
                            </div>
                         </div>

                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->