 {% load staticfiles %}

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>We @ Work!!</h2>
                <p class="lead">Some Interesting Snaps from our Trainings, Development and Fun</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/item1.png' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">LTE Functional Tester</a> </h3>
                                <p>Snapshot of a LTE Testing Tool Developed @ TCLOUD IT</p>
                                <a class="preview" href="{% static 'images/portfolio/full/item1.png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3"> 
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/item2.png' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Fun @ Work!!</a></h3>
                                <p>Trainees getting a break from rigorous training</p>
                                <a class="preview" href="{% static 'images/portfolio/full/item2.png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/item3.png' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">LTE Load Tester</a></h3>
                                <p>Snapshot of a LTE Testing Tool Developed @ TCLOUD IT</p>
                                <a class="preview" href="{% static 'images/portfolio/full/item3.png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/item4.png' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Python Fun </a></h3>
                                <p>A Smart Automation Done by Python Trainees</p>
                                <a class="preview" href="{% static 'images/portfolio/full/item4.png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{%  static 'images/portfolio/recent/item5.png' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">HSS Emulator</a></h3>
                                <p>Snapshot of an LTE-IMS HSS Emulator Developed @ TCLOUD IT</p>
                                <a class="preview" href="{% static 'images/portfolio/full/item5.png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/item6.png' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Corporate Training</a></h3>
                                <p>Snap Taken @ one of our Corporate Training Session recently</p>
                                <a class="preview" href="{% static 'images/portfolio/full/item6.png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/item7.png' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Elvior TestCast</a></h3>
                                <p>Tool Used for Protocol Testing Execution with TTCN3 Scripting</p>
                                <a class="preview" href="{% static 'images/portfolio/full/item7.png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap"> 
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/item8.png' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Telecom Cloud</a></h3>
                                <p>Our Gorgeous Logo Stone Carved n gifted by a trainee </p>
                                <a class="preview" href="{% static 'images/portfolio/full/item8.png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->