{% load staticfiles %}
<section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>Our Services</h2>
               <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{% static 'images/services/services1.png' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Corporate Training</h3>
                            <!--<p>With the clear exposure to the industry training needs, we are certainly well equipped with the in-depth knowledge on different telecom technologies and training delivery methods. Candidates will be trained in the specialized modules. 
                                 </p> -->
                            <p>
                                <ul>
                                <li> Customized Curriculum </li> 
                                <li> Time Bounded Programs </li>
                                <li> Training On Licensed Tools </li> 
                                <li> Free Licenses For Client's Tool Use </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{% static 'images/services/services2.png' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Consulting</h3>
                            <!--<p>We hold candidates working on different telecom projects across various companies under one cloud. We have a Technical team @TCloud to scrutinize and selects the right candidates for various verticals across telecom domain.</p> -->
                            <ul>
                                <li> Telecom, Datacom, Automation </li>
                                <li> Candidate Filtering </li> 
                                <li> 1st Level Technical Evaluation </li>
                                <li> Fresher Recruitment Process  </li>    
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{% static 'images/services/services3.png' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Outsourcing</h3>
                            <!--<p>For Telecom R&D companies who wish to associate with Tcloud Information Technologies, we will provide 7200 man hours of resources with free of cost.The 'team' will be selected exclusively by you, and would be working out of TCloud Premises with TCloud resources.</p> -->
                            <ul>
                                <li> Telecom, Datacom, Automation </li> 
                                <li> Client's On-Site </li>
                                <li> Work Delivery From TCLOUD IT </li> 
                                <li> Multiple Billing Options </li>
                            </ul>
                        </div>
                    </div>
                </div>  

                <!-- <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{% static 'images/services/services4.png' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>
 -->
               <!--  <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{% static 'images/services/services5.png' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{% static 'images/services/services6.png' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO Marketing</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div> -->                                                
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->