{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Python Programming Training in Hyderabad|Bangalore|Online {% endblock %}

{% block breadcrumb %} 
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{% url 'home' %}">Courses</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'scripting' %}">Scripting</a></li>
    <li class="breadcrumb-item active">Python Programming</li>
 </ol>
{% endblock %}

{% block content%} 

{#    <style type="text/css">#}
{# .row1{#}
{#   position:fixed;#}
{#   top:-750px;#}
{#   left:800px;#}
{#     bottom: 100px;#}
{#  }#}
{#</style>#}
<style>
.modal
{
    background-color: rgba(0,0,0,0.9)   ;
}
.modal-backdrop
{

    position: relative;
}

</style>
<html>
<head>
<div id="myModal" class="modal"  tabindex="-5" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog" role="document">

                    <!-- Modal content-->
                    <div class="modal-content" >
                          <div class="modal-header">
                           <h4 class="modal-title" style="color: #20B8FF">User Register</h4>
                               <button type="button" class="close" data-dismiss="modal">&nbsp;times;</button>
                          </div>

                            <div class="mdl-card__supporting.txt" style="margin-left: 3%;">
                                  <form id="new_user_form" method="post">{% csrf_token %}
                                      <div class="mdl-textfield mdl-js-textfield" style="margin-top:3%; ">
                                          Name: <input type="text" id='name'    autofocus="autofocus">

                                      </div>
                                      </br>
                                      <div class="mdl-textfield mdl-js-textfield" >
                                          Course:<input type="text" id='course'>

                                      </div>
                                      </br>
                                          <div class="mdl-card__actions mdl-card- -border" style="margin-bottom: 5%;">
                                              <input type="submit" class="btn btn-info btn-sm" value="submit">


                                          </div>

                                  </form>

                           </div>

                  </div>
           </div>
</div>

</head>
<body>

    <section id="middle">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-sm-6  wow fadeInDown">
                                          <div class="accordion">
                                              <h2>Python Programming Language </h2>
                                              <div class="panel-group" id="accordion1">
                                                <div class="panel panel-default">
                                                  <div class="panel-heading active">
                                                    <h3 class="panel-title">
                                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                                        Data Structures
                                                        <i class="fa fa-angle-right pull-right"></i>
                                                      </a>
                                                    </h3>
                                                  </div>

                                                  <div id="collapseOne1" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <div class="media accordion-inner">
                                                                      <div class="pull-left">
                                                                          <img class="img-responsive" src="{% static 'images/accordion1.png' %}">
                                                                      </div>
                                                              <div class="media-body">
                                                                   <h4>IP Communication Fundamentals :</h4>
                                                                   <p>This module is desigened for getting expertise in IP Communications.</br>
                                                                    1. OSI Introduction</br>
                                                                    2. DataLink: Ethernet, PPP, ATM, FR, 802.11, ARP,RARP</br>
                                                                    3. NetworK: IPv4, IPv6, ICMP</br>
                                                                    4. Transport: TCP, UDP, SCTP</br>
                                                                    5. Session: RTP,RTCP</br>
                                                                    6. Presentation: SSLv3</br>
                                                                    7. Application: HTTP, HTTPS, FTP, SFTP, TFTP, SSH, Telnet, DNS, DHCP</br>
                                                                    8. Tools : Wireshark, GNS3, Cisco Packet Tracer </p>
                                                              </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div>

                                                <div class="panel panel-default">
                                                  <div class="panel-heading active">
                                                    <h3 class="panel-title">
                                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                                        Function & Modules
                                                        <i class="fa fa-angle-right pull-right"></i>
                                                      </a>
                                                    </h3>
                                                  </div>

                                                  <div id="collapseTwo1" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="media accordion-inner">
                                                              <div class="pull-left">
                                                                  <img class="img-responsive" src="{% static 'images/accordion1.png' %}">
                                                              </div>
                                                              <div class="media-body">
                                                                   <h4>GSM/GPRS Fundamentals :</h4>
                                                                   <p>This module's goal is to get Basic understanding of Telecom Networks.<br>
                                                                    1. Introduction to Telecommunications<br>
                                                                    2. 2G Introduction<br>
                                                                    3. Functional Study on 2G Network Components : MS, BTS, BSC, MSC, GMSC, MSC/VLR, HLR, AUC, EIR<br>
                                                                    4. GSM Call Flows<br>
                                                                    5. Introduction to Packet Networks: GPRS<br>
                                                                    6. Functional Study on 2.5 Network Elements : SGSN, GGSN<br>
                                                                    7. GPRS Call Flows</p>
                                                              </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div>

                                                <div class="panel panel-default">
                                                  <div class="panel-heading active">
                                                    <h3 class="panel-title">
                                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                                        Pattern Matching
                                                        <i class="fa fa-angle-right pull-right"></i>
                                                      </a>
                                                    </h3>
                                                  </div>

                                                  <div id="collapseThree1" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="media accordion-inner">
                                                              <div class="pull-left">
                                                                  <img class="img-responsive" src="{% static 'images/accordion1.png' %}">
                                                              </div>
                                                              <div class="media-body">
                                                                   <h4>UMTS &nbsp; HSPA Fundamentals : </h4>
                                                                   <p>This module's goal is to get basic understanding on 3G Network.<br>
                                                                1. Introduction to UMTS Network <br>
                                                                2. Functional Study on 3G Network Components : UE, NodeB, RNC, MSC, GMSC, MSC/VLR, HLR, AUC, EIR<br>
                                                                3. UMTS call Flows<br>
                                                                4. Introduction to HSPA Tecchnology (3.5G)<br>
                                                                5. Introduction to Tunnelling Concepts (GRE, GTP)</p>
                                                              </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div>

                                                <div class="panel panel-default">
                                                  <div class="panel-heading active">
                                                    <h3 class="panel-title">
                                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                                        Exceptions,Pdb,Logging
                                                        <i class="fa fa-angle-right pull-right"></i>
                                                      </a>
                                                    </h3>
                                                  </div>

                                                  <div id="collapseFour1" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="media accordion-inner">
                                                              <div class="pull-left">
                                                                  <img class="img-responsive" src="{% static 'images/accordion1.png' %}">
                                                              </div>
                                                              <div class="media-body">
                                                                   <h4>Long Term Evolution - LTE :</h4>
                                                                   <p>This module is desigened for getting expertise in LTE Technology<br>
                                                                    1. Evolution of LTE Technology &nbsp; Introduction<br>
                                                                    2. Introduction of LTE Network Elements : Ue, eNB, MME, HSS, SGW, PGW, PCRF<br>
                                                                    3. Introduction to LTE Protocols:  <br> &nbsp;nbsp &nbsp;nbsp &nbsp;nbsp;
                                                                            Radio: OFDMA/SC-FDMA, MAC, RLC, PDCP, RRC, NAS <br> &nbsp;nbsp &nbsp;nbsp &nbsp;nbsp;
                                                                            Core: X2-AP, S1-AP, GTP-C, GTP-U, Diameter<br> &nbsp;nbsp &nbsp;nbsp &nbsp;nbsp;
                                                                            LTE Convergence: MIPv4, PMIPv6, GRE, SGS-AP<br>
                                                                    4. LTE Terminology<br> &nbsp;nbsp &nbsp;nbsp &nbsp;nbsp;
                                                                            States: EMM, ECM, RRC <br> &nbsp;nbsp &nbsp;nbsp &nbsp;nbsp;
                                                                            Bearers: EPS, Radio, S1, S5-S8, External <br> &nbsp;nbsp &nbsp;nbsp &nbsp;nbsp;
                                                                            IDs: IMSI, IMEI, GUTI, RNTIs, S1AP-UEIDs, TEIDs <br> &nbsp;nbsp &nbsp;nbsp &nbsp;nbsp;
                                                                            QoS: QCI, ARP, GBR, NGBR, AMBR <br>
                                                                    5. Functional Study of all LTE Protocols <br>
                                                                    6. LTE Call Flows &nbsp; Log Analysis </p>
                                                              </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div>

                                                                          <div class="panel panel-default">
                                                  <div class="panel-heading active">
                                                    <h3 class="panel-title">
                                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
                                                        Frontend,Databases
                                                        <i class="fa fa-angle-right pull-right"></i>
                                                      </a>
                                                    </h3>
                                                  </div>

                                                  <div id="collapseFive1" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="media accordion-inner">
                                                              <div class="pull-left">
                                                                  <img class="img-responsive" src="{% static 'images/accordion1.png' %}">
                                                              </div>
                                                              <div class="media-body">
                                                                   <h4>LTE Advanced :</h4>
                                                                   <p>This module is desigened for getting expertise in Advanced LTE<br>
                                                                      1. Introduction to Advanced LTE Features<br>
                                                                      2. MIMO : Multiple Input Multiple Output<br>
                                                                      3. SON: Self Optimized Networks<br>
                                                                      4. Carrier Aggregation<br>
                                                                      5. eMBMS: enhanced Multimedia Broadcast and Multicast System <br>
                                                                      6. Femto Cells, Home eNBs </p>
                                                              </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div>

                                                                          <div class="panel panel-default">
                                                  <div class="panel-heading active">
                                                    <h3 class="panel-title">
                                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">
                                                        Object Oriented Programming
                                                        <i class="fa fa-angle-right pull-right"></i>
                                                      </a>
                                                    </h3>
                                                  </div>

                                                  <div id="collapseSix1" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="media accordion-inner">
                                                              <div class="pull-left">
                                                                  <img class="img-responsive" src="{% static 'images/accordion1.png' %}">
                                                              </div>
                                                              <div class="media-body">
                                                                   <h4>VOIP - SIP - IMS :</h4>
                                                                   <p>This module is desigened for getting expertise in IMS<br>
                                                                    1. Voice Over IP (VOIP) Introduction<br>
                                                                    2. Session Intiation Protocol (SIP) &nbsp; Session Description Protocol (SDP)<br>
                                                                    3. Real-Time Transport Protocol (RTP) &nbsp; Real-Time Transport Control Protocol(RTCP)<br>
                                                                    4. Voice Solutions in LTE: CSFB<br>
                                                                    5. Voice Solutions in LTE: IMS Introduction<br>
                                                                    6. Funtional study of IMS Network Elements<br>
                                                                    7. IMS Protocol study: SIP &nbsp; Diameter<br>
                                                                    8. IMS Call Flows &nbsp; Log Analysis </p>
                                                              </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div>

                                                                          <div class="panel panel-default">
                                                  <div class="panel-heading active">
                                                    <h3 class="panel-title">
                                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven1">
                                                        Socket Programming
                                                        <i class="fa fa-angle-right pull-right"></i>
                                                      </a>
                                                    </h3>
                                                  </div>

                                                  <div id="collapseSeven1" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="media accordion-inner">
                                                              <div class="pull-left">
                                                                  <img class="img-responsive" src="{% static 'images/accordion1.png' %}">
                                                              </div>
                                                              <div class="media-body">
                                                                   <h4>Protocol Developement Practicles :</h4>
                                                                   <p>This module is desigened for getting expertise in Protocol Development<br>
                                                                    1. Protocol Development Introduction<br>
                                                                    2. Protocol State Machine Development<br>
                                                                    3. Protocol Logic Implementation<br>
                                                                    4. Protocol Coder/Decoder (CoDec) Development<br>
                                                                    5. Protocol Socket Programming /Trasport Module Development <br>
                                                                    6. Code Management  using SubVersioN (SVN)</p>

                                                              </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div>


                                              </div>
                                          </div>
                </div>  

<div class="col-md-4">

                    <h2> Course Schedule</h2>
                    <table class="table table-bordered" >
                        {% for i in property %}
                                <tr><th>Course Name</th><td> {{ i.course_name }}</td></tr>
                                <tr><th>Start Date</th><td>{{ i.start_date }}</td></tr>
                                <tr><th>Duration</th><td>{{ i.duration }}</td></tr>
                                <tr><th>Faculty</th><td>{{ i.faculty }}</td></tr>
                                <tr><th>Demo</th><td><a href="{{ i.demo }}"target="_blank">{{ i.demo }}</a></td></tr>


                        {% endfor%}
                    </table> 

                    <a class="btn btn-default" href="#" role="button">Join</a>
                    <a class="btn btn-default" href="#" role="button">Other Timings</a>
                     <button type="button" class="btn btn-primary" data-target="#Starpopup" onclick="showpopup();">Detailed Course Content</button>
  </div>
      

 

            </div>
        </div>
    </section>

</body>


{#            <button onclick=showpopup();"{% url "some_view" %}" >Django PDF</button>#}

<!-- <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-6 col-md-offset-1">
      <button type="button" class="btn btn-primary" data-target="#Starpopup" onclick="showpopup();">Detailed Course Content</button>
    </div>
</div> -->

<!-- Trigger the modal with a button -->

{#<button type="button"   class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>#}
<!-- Modal -->



<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/material.min.js' %}"></script>
<script type="text/javascript">

    $(document).on('submit','#new_user_form',function (e) {
            e.preventDefault();

            mail();
            database();



        });

</script>

<script type="text/javascript">
    $('#new_user_form').submit(function () {

    // Get the Login Name value and trim it
    var name = $.trim($('#name').val());

    // Check if empty of not
    if (name  === '') {
        alert('Text-field is empty.');
        return false;
    }
});

    function mail()
    {
        $.ajax({

                type:'POST',
                url:'/Contact_View_Popup/',

                data:{
                    name:$('#name').val(),
                    course:$('#course').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function () {


                    alert("Success");
                }
            });
    }
    function database() {

                $.ajax({

                    type: 'POST',
                    url: '/Pop_Up_view/',
                    data: {
                        name: $('#name').val(),
                        course: $('#course').val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function () {
                        showpdf();
                        alert("Success");
                    }

                });

    }




    function showpopup() {

{#        $("#Starpopup").show();#}
       $("#myModal").modal('show');
       // $("#lblText").text($("#divBodyText").text());


    }

    function  showpdf() {


        window.location.href="/some_view";
    }





</script>
</div>
    </section><!--/#middle-->

    </body>
</html>
{% endblock %}