{% extends 'base.html' %}
{% block title %} VOIP-SIP-IMS Protocol Development {% endblock %}
{% load staticfiles %}

{% block breadcrumb %} 
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{% url 'home' %}">Courses</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'telecom' %}">Telecom</a></li>
    <li class="breadcrumb-item active">VOIP SIP IMS Protocol Testing</li>
 </ol>
{% endblock %}

{% block content%}

{#    <style type="text/css">#}
{# .row1{#}
{#   position:fixed;#}
{#   top:-750px;#}
{#   left:800px;#}
{#     bottom: 100px;#}
{#  }#}
{#</style>#}
<style>
.modal
{
    background-color: rgba(0,0,0,0.9)   ;
}
.modal-backdrop
{

    position: relative;
}

</style>
<html>
<head>
<div id="myModal" class="modal"  tabindex="-5" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
       <h4 class="modal-title" style="color: #20B8FF">User Register</h4>
           <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

        <div class="mdl-card__supporting.txt" style="margin-left: 3%;">
        <form id="new_user_form" method="post">{% csrf_token %}
            <div class="mdl-textfield mdl-js-textfield" style="margin-top:3%; ">
                Name: <input type="text" id='name'    autofocus="autofocus">

            </div>
            <br/>
            <div class="mdl-textfield mdl-js-textfield" >
                Course:<input type="text" id='course'>

            </div>
            <br/>
        <div class="mdl-card__actions mdl-card- -border" style="margin-bottom: 5%;">
            <input type="submit" class="btn btn-info btn-sm" value="submit">


        </div>

        </form>

    </div>

  </div>
</div>
</div>

<!-- <meta charset="utf-8">
     <div class="col-sm-3" style="float: right;padding-left: 1px;margin-left: 1px;">
                     <h2> Course Schedule</h2>
                    <table class="table table-bordered" >
                        {% for i in property %}
                    <tr><th>Course Name</th><td> {{ i.course_name }}</td></tr>

                    <tr><th>Start Date</th><td>{{ i.start_date }}</td></tr>
                    <tr><th>Duration</th><td>{{ i.duration }}</td></tr>
                    <tr><th>Faculty</th><td>{{ i.faculty }}</td></tr>
                    <tr><th>Demo</th><td><a href="{{ i.demo }}"target="_blank">{{ i.demo }}</a></td></tr>


                    {% endfor%}


 
                </table>

            </div><!--/.table closed --> 
</head>
<body>
<!--     <section id="middle">
        <div class="container">
            <div class="row" >

             <div class="col-sm-9 wow fadeInDown" >
                    <div class="accordion">
                        <h2>Django Curriculum</h2>
                        <div class="panel-group" id="accordion1">
                            {% for i in property1 %}
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">

                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#{{ i.topic }}">
                                  {{ i.topic }}
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="{{ i.topic }}" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <div class="media accordion-inner">
                                        <div class="pull-left">
                                            <img class="img-responsive" src="{% static 'images/accordion1.png' %}">
                                        </div>
                                        <div class="media-body" id="divBodyText">
                                            {{ i.content }}
                                        </div>

                                  </div>
                                </div>
                              </div>
                                {% endfor %}
                            </div>

                          </div>



                          </div> -->

    <section id="middle">
        <div class="container">
            <div class="row">
               <div class="col-sm-8 wow fadeInDown">
                    <div class="accordion">
                        <h2>VOIP SIP IMS Protocol Development</h2>
                        <div class="panel-group" id="accordion1">
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                  OSI/TCP-IP Fundamentals
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">
                                  <div class="media accordion-inner">
                                        <div class="pull-left">
                                            <img class="img-responsive" src="{% static 'images/accordion1.png' %}">
                                        </div>
                                        <div class="media-body">
                                             <h4>IP Communication Fundamentals :</h4>
                                             <p>This module is desigened for getting expertise in IP Communications.<br>
1. OSI Introduction<br>
2. DataLink: Ethernet, PPP, ATM, FR, 802.11, ARP,RARP<br>
3. NetworK: IPv4, IPv6, ICMP<br>
4. Transport: TCP, UDP, SCTP<br>
5. Session: RTP,RTCP<br>
6. Presentation: SSLv3<br>
7. Application: HTTP, HTTPS, FTP, SFTP, TFTP, SSH, Telnet, DNS, DHCP<br>
8. Tools : Wireshark, GNS3, Cisco Packet Tracer </p>
                                        </div>
                                  </div>
                              </div>
                            </div>
                          </div>

                          

                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  VOIP SIP
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <div class="media accordion-inner">
                                        <div class="pull-left">
                                            <img class="img-responsive" src="{% static 'images/accordion1.png' %}">
                                        </div>
                                        <div class="media-body">
                                             <h4>VOIP SIP :</h4>
                                             <p>This module is desigened for getting expertise in VOIP SIP<br>
1. Voice Over IP (VOIP) Introduction <br>
2. Session Intiation Protocol (SIP) & Session Description Protocol (SDP)<br>
3. Real-Time Transport Protocol (RTP) & Real-Time Transport Control Protocol(RTCP) <br>
4. RFC 3261 Complete Study <br>
5. SIP Call Flows <br>
6. SIP Call Generation using X-Lite, Asterick, SIPp </p>
                                        </div>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  IMS: IP Multimedia Sub-System
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseSixThree1" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <div class="media accordion-inner">
                                        <div class="pull-left">
                                            <img class="img-responsive" src="{% static 'images/accordion1.png' %}">
                                        </div>
                                        <div class="media-body">
                                             <h4> IMS - IP Multimedia Sub-System :</h4>
                                             <p>This module is desigened for getting expertise in IMS<br>

5. IMS Introduction<br>
6. Funtional study of IMS Network Elements<br> &nbsp &nbsp &nbsp;
        Control Elements: S-CSCF [Serving], I-CSCF [Interogation], [P-CSCF] Proxy. &nbsp &nbsp &nbsp;
        DataBases: HSS, SLF &nbsp &nbsp &nbsp;
        GateWays: MGCF, BGCF, MGW &nbsp &nbsp &nbsp;
        Media Processors: MRB, MRFC, MRFB &nbsp &nbsp &nbsp;
        Security: TrGW, IBCF <br>
7. IMS Protocol study: SIP & Diameter <br>
8. IMS Specifications <br>
9. IMS Call Flows & Log Analysis </p>
                                        </div>
                                  </div>
                              </div>
                            </div>
                          </div>

                                                    <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                  SIP IMS Protocol Development
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <div class="media accordion-inner">
                                        <div class="pull-left">
                                            <img class="img-responsive" src="{% static 'images/accordion1.png' %}">
                                        </div>
                                        <div class="media-body">
                                             <h4>Protocol Developement Practicles :</h4>
                                             <p>This module is desigened for getting expertise in Protocol Development<br>
1. Protocol Development Introduction<br>
2. Protocol State Machine Development<br>
3. Protocol Logic Implementation<br>
4. Protocol Coder/Decoder (CoDec) Development<br>
5. Protocol Socket Programming /Trasport Module Development <br>
6. Code Management  using SubVersioN (SVN)</p>

                                        </div>
                                  </div>
                              </div>
                            </div>
                          </div>


                        </div><!--/#accordion1-->
                    </div>
                </div>
<div class="col-md-4">

                    <h2> Course Schedule</h2>
                    <table class="table table-bordered" >
                        {% for i in property %}
                                <tr><th>Course Name</th><td> {{ i.course_name }}</td></tr>
                                <tr><th>Start Date</th><td>{{ i.start_date }}</td></tr>
                                <tr><th>Duration</th><td>{{ i.duration }}</td></tr>
                                <tr><th>Faculty</th><td>{{ i.faculty }}</td></tr>
                                <tr><th>Demo</th><td><a href="{{ i.demo }}"target="_blank">{{ i.demo }}</a></td></tr>


                        {% endfor%}
                    </table> 


  </div>


            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#middle-->

    </body>



</div>



               </div>
            </div>


{#            <button onclick=showpopup();"{% url "some_view" %}" >Django PDF</button>#}


<button type="button" class="btn btn-info btn-lg" data-target="#Starpopup" onclick="showpopup();">Django PDF FILE</button>

<!-- Trigger the modal with a button -->

{#<button type="button"   class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>#}
<!-- Modal -->



<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/material.min.js' %}"></script>
<script type="text/javascript">

    $(document).on('submit','#new_user_form',function (e) {
            e.preventDefault();

            mail();
            database();



        });

</script>

<script type="text/javascript">
    $('#new_user_form').submit(function () {

    // Get the Login Name value and trim it
    var name = $.trim($('#name').val());

    // Check if empty of not
    if (name  === '') {
        alert('Text-field is empty.');
        return false;
    }
});

    function mail()
    {
        $.ajax({

                type:'POST',
                url:'/Contact_View_Popup/',

                data:{
                    name:$('#name').val(),
                    course:$('#course').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function () {


                    alert("Success");
                }
            });
    }
    function database() {

                $.ajax({

                    type: 'POST',
                    url: '/Pop_Up_view/',
                    data: {
                        name: $('#name').val(),
                        course: $('#course').val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function () {
                        showpdf();
                        alert("Success");
                    }

                });

    }




    function showpopup() {

{#        $("#Starpopup").show();#}
       $("#myModal").modal('show');
       // $("#lblText").text($("#divBodyText").text());


    }

    function  showpdf() {


        window.location.href="/some_view";
    }





</script>
</div>
    </section><!--/#middle-->

    </body>
</html>
{% endblock %}





