{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb %} 
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{% url 'home' %}">Courses</a></li>
    <li class="breadcrumb-item active">Datacom</li>
 </ol>
{% endblock %} 
    
{% block content %}
<section id="content">
        <div class="container">
            <div class="row">
            <h2>&nbsp;&nbsp;&nbsp;Datacom</h2>
                <div class="col-xs-12 col-sm-12 wow fadeInDown">
                   <div class="tab-wrap"> 
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                 <li class="active"><a href="#tab1" data-toggle="tab" class="analistic-01">L2L3 Protocol Development</a></li>
                                <li class=""><a href="#tab2" data-toggle="tab" class="analistic-02">L2L3 Protocol Testing</a></li>
                                                    
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="tab1">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="{% static 'images/tab2.png' %}">
                                            </div>
                                            <div class="media-body">
                                                 <h2>L2 L3 Protocol Development</h2>
                                                 <p>This Course is suitable for the candidates, who are 
                                                    <ul>
                                                        <li> ECE, EEE, CS Graduates or Post Graduates </li> 
                                                        <li> [OR] CCNA/CCNP/CCIE Certificate holders </li>
                                                        <li> [OR] Worked as Network Engineer / Other Equivalent </li> 
                                                        <li> [OR] Having any Software Development Experience
                                                        </li> 
                                                    </ul>
                                                    This Course Covers Routing & Switching Protocols Learning & Development
                                                 </p>
                                                 <a class="btn-slide animation animated-item-3" href="{% url 'l2l3dev' %}">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="tab-pane fade active in" id="tab2">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="{% static 'images/tab1.png' %}">
                                            </div>
                                            <div class="media-body">
                                                 <h2>L2 L3 Protocol Testing</h2>
                                                 <p>This Course is suitable for the candidates, who are 
                                                    <ul>
                                                        <li> ECE, EEE, CS Graduates or Post Graduates </li> 
                                                        <li> [OR] CCNA/CCNP/CCIE Certificate holders </li>
                                                        <li> [OR] Worked as Network Engineer / Other Equivalent </li> 
                                                        <li> [OR] Having any Software Development Experience
                                                        </li> 
                                                    </ul>
                                                    This Course Covers Routing & Switching Protocols Learning & Testing
                                                 </p>
                                                 <a class="btn-slide animation animated-item-3" href="{% url 'l2l3test' %}">Read More</a>
                                            </div>
                                        </div>
                                     </div>

                                </div> <!--/.tab-content-->  
                            </div> <!--/.media-body--> 
                        </div> <!--/.media-->     
                    </div><!--/.tab-wrap-->               
                </div><!--/.col-sm-6-->



            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->

{% endblock %}



